/* How to use variables
   ========================================================================== */
/* Colors variables: /assets/stylesheets/base/variables/branding.scss */
// Links examples
$eos-links-cerulean-white-border: $eos-bc-gray-500;
$eos-links-cerulean-white-text: $eos-bc-gray-1000;

$eos-links-green-blue-bg: $eos-bc-pine-500;
$eos-links-green-blue-text: $eos-bc-white;

$eos-links-yellow-bg: $eos-bc-yellow-900;;
$eos-links-yellow-text: $eos-bc-gray-1000;

