li
  a.dropdown-item(href='https://xd.adobe.com/view/f5203a8f-bed8-4cb3-65bc-07e720d9cda6-8311/', data-event-category='Dropdown link', data-event-action='Specifications', data-event-label='Buttons', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.eos-18
      | open_in_new
    | Design specifications
li
  a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/-/raw/master/eos-website-design/External/Form/form-elements.xd', data-event-category='Dropdown link', data-event-action='XD Download', data-event-label='Buttons', target='_blank', rel='noreferrer nonopener')
    i.eos-icons.eos-18
      | file_download
    | Adobe XD file
//- li
//-   a.dropdown-item(href='https://gitlab.com/SUSE-UIUX/eos-backup/-/blob/master/eos-website-design/Components/Button/buttons-1.svg', data-event-category='Dropdown link', data-event-action='SVG Download', data-event-label='Buttons', target='_blank', rel='noreferrer nonopener')
//-     i.eos-icons.eos-18
//-       | file_download
//-     | SVG file
