extends ../layouts/layout-main

block content
  .container.js-eos-icons-set.js-eosIconsSet
    section
      .row
        .col-md-9
          h1
            | EOS icon set
          p.subheadline
            | The EOS icons are a handcrafted iconic font designed using the Material Design
            | guidelines. They are 100% compliant with MD icons, also use ligatures,
            | and are downloadable as an Open Source project on gitlab or via NPM.
        .col-md-3
          a.btn.btn-secondary.margin-top-m.btn-block(href='https://icons.eosdesignsystem.com/docs', target='_blank', rel='noreferrer nonopener')
            | #[i.eos-icons.eos-18 open_in_new] Install eos-icons
          button.btn.btn-primary.btn-block(data-toggle='modal', data-target='#requestNewIcon')
            | #[i.eos-icons.eos-18 add_circle] Request new icon
    section
      hr
      .row
        .col-12
          .icons-search-wrap
            input.js-eos-icon-filter(type='search', name='eos-icon-filter', placeholder='Type to search')
            i.eos-icons.eos-18.js-search-icon
              | search
      .row.js-eos-icons-notification
        .col-12
          eos-alert(type='info', scope='section', title='There are no icons matching your search criteria')
            | Try with a different word.

      .row
        .col-12.js-icons-container.js-panel-slide-hook
          h3.js-icons-category-name.margin-top-xxl.d-block
          .js-eos-icons-list.icons-set-list
            .icon-display.js-panel-slidein-open.js-animated-icon-display
              img.js-animated-eos-icons.eos-48
              .icon-name.js-icon-name

            .icon-display.js-panel-slidein-open.js-icon-display
              i.eos-icons.js-icon-name.eos-48
              .icon-name.js-icon-name

      // Panel-slidein component to show more information after clicking .js-panel-slidein-open
      .panel-slidein.js-panel-slidein.panel-slidein-right
        .panel-slidein-body
          include ../includes/panel-slidein/eos-icons.pug
        .panel-slidein-footer
          h6
            | Tags
          .js-eos-icons-tags-list
            span.badge.badge-dark.js-eos-icons-tag

        .panel-slidein-close.eos-icons.eos-18.js-panel-slidein-close
          | close

  include ../includes/request-new-icon/request-new-icon-modal.pug
