/* Input fields variables
   ========================================================================== */
$eos-input-color: $eos-bc-gray-700;
$eos-input-color-error: $eos-bc-red-500;
$eos-input-color-disabled: $eos-bc-gray-300;
$eos-input-color-approved: $eos-bc-green-500;
$eos-input-color-focus: $eos-bc-cerulean-500;
$eos-input-slider-thumb-bg: $eos-bc-white;
$eos-si-optional-label-color: $eos-bc-gray-500;
$eos-si-password-medium: $eos-bc-yellow-900;
$eos-si-password-meter-background: $eos-bc-gray-100;
/* Spacing variables: /assets/stylesheets/eos-base/variables/spacings.scss */
$eos-input-file-margin-right: $eos-s;
$eos-input-range-bar-border-radius: $eos-xs - 3px;
$eos-input-range-bar-height: $eos-xs - 2px;
$eos-input-range-bar-top: $eos-s - 1px;
$eos-input-range-bar-z-index: 1;
$eos-input-range-fill-border-radius: $eos-xs - 2px;
$eos-input-range-fill-height: $eos-xs;
$eos-input-range-fill-margin-top: -1px;
$eos-input-range-slider-border-radius: $eos-xs + 1px;
$eos-input-range-slider-height: $eos-s + 2px;
$eos-input-range-slider-z-index: 2;
$eos-input-range-slider-thumb-height-width: $eos-m;
$eos-input-range-slider-thumb-margin-top: -$eos-xs;
$eos-si-optional-label-font-size: $eos-m - 2px;
$eos-si-optional-label-margin-left: $eos-xs;
$eos-si-label-font-size: $eos-m - 2px;
$eos-si-password-strength-meter-height: $eos-l - 4px;
$eos-si-password-meter-height: $eos-xs - 1px;
$eos-si-password-meter-margin-right: $eos-xs + 1px;
$eos-si-password-meter-text-size: $eos-m - 2px;
$eos-si-toggle-password-margin-left: -15px;
$eos-si-password-criteria-text-color: $eos-bc-gray-500;
$eos-si-password-criteria-text-font-size: 12px;
$eos-si-password-criteria-text-line-height: 16px;
