/* Input fields
  ========================================================================== */
/**
*  These rules overwrite existing Bootstrap rules
*
* Variables file: assets/stylesheets/eos-components/input-fields/input-fields.variables.scss
*/
label {
  font-size: $eos-si-label-font-size;

  .optional-label {
    color: $eos-si-optional-label-color;
    font-size: $eos-si-optional-label-font-size;
    margin-left: $eos-si-optional-label-margin-left;
  }

  &.disabled {
    color: $eos-input-color-disabled;
  }
}


input {
  border: 0;
  border-bottom: 1px solid  $eos-input-color;
  width: 100%;

  &:focus {
    box-shadow: 0px 1px 0px $eos-input-color-focus;
    outline: none;
  }

  &:disabled {
    border-bottom: 1px solid $eos-input-color-disabled;
    color: $eos-input-color-disabled;
  }

  &.approved {
    border-bottom: 1px solid $eos-input-color-approved;
  }

  &.error {
    border-bottom: 1px solid $eos-input-color-error;
  }
}

/* Password Strength Meter */

.password-strength-meter {
  align-items: center;
  display: flex;
  height: $eos-si-password-strength-meter-height;
  visibility: hidden;

  .meter {
    background: $eos-si-password-meter-background;
    height: $eos-si-password-meter-height;
    margin-right: $eos-si-password-meter-margin-right;
    width: 24%;
  }

  .meter-text {
    font-size: $eos-si-password-meter-text-size;
    font-weight: 600;
    text-align: end;
    width: 25%;
  }

  &.weak {

    .meter:nth-child(-n+1) {
      background: $eos-input-color-error;
    }

    .meter-text {
      color: $eos-input-color-error;

      &:after {
        content: 'weak';
      }
    }
  }

  &.medium {

    .meter:nth-child(-n+2) {
      background: $eos-si-password-medium;
    }

    .meter-text {
      color: $eos-si-password-medium;

      &:after {
        content: 'Medium';
      }
    }
  }

  &.strong {
    .meter:nth-child(-n+3) {
      background: $eos-input-color-approved;
    }

    .meter-text {
      color: $eos-input-color-approved;

      &:after {
        content: 'Strong';
      }
    }
  }
}

.toggle-password {
  cursor: pointer;
  margin-left: $eos-si-toggle-password-margin-left;
  position: absolute;
}

.password-criteria-text {
  color: $eos-si-password-criteria-text-color;
  font-size: $eos-si-password-criteria-text-font-size;
  line-height: $eos-si-password-criteria-text-line-height;
}



input[type='range'] {
  border-bottom: 0;

  &:focus {
    box-shadow: none;
    outline: none;

    &::-webkit-slider-thumb {
      box-shadow: 0px 0px 2px 1px $eos-input-color-focus;
    }
  }

  &:disabled {
    &::-webkit-slider-thumb {
      border-color: $eos-input-color-disabled;
    }
  }
}

/* range slider css */
.slider-container {
  position: relative;

  &.disabled {
    .bar {
      background-color: $eos-input-color-disabled;

      .fill {
        background: transparent;
      }
    }
  }

  .bar {
    background-color: $eos-input-color;
    border-radius: $eos-input-range-bar-border-radius;
    height: $eos-input-range-bar-height;
    left: 0;
    position: absolute;
    right: 0;
    top: $eos-input-range-bar-top;
    z-index: $eos-input-range-bar-z-index;

    .fill {
      background: $eos-input-color-approved;
      border-radius: $eos-input-range-fill-border-radius;
      display: block;
      height: $eos-input-range-fill-height;
      margin-top: $eos-input-range-fill-margin-top;
      width: 0%;
    }
  }

  .slider {
    -webkit-appearance: none;
    background-color: transparent;
    border-radius: $eos-input-range-slider-border-radius;
    height: $eos-input-range-slider-height;
    margin: 0;
    outline: none;
    position: relative;
    width: 100%;
    z-index: $eos-input-range-slider-z-index;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      background: $eos-input-slider-thumb-bg;
      border: 2px solid $eos-input-color;
      border-radius: 50%;
      height: $eos-input-range-slider-thumb-height-width;
      margin-left: 0;
      margin-top: $eos-input-range-slider-thumb-margin-top;
      width: $eos-input-range-slider-thumb-height-width;
    }
  }
}

input[type='file'] {
  display: inline-block;
  margin-right: $eos-input-file-margin-right;
  width: 65%;

  &::-webkit-file-upload-button {
    padding: 0;
    visibility: hidden;
    width: 0;
  }
}

.error-msg {
  color: $eos-input-color-error;
}
