/* Icons UX
   ========================================================================== */
.icons-ux-alignment {

  .eos-icons {
    float: left;
    margin-right: $eos-icons-ux-margin-right;
    margin-top: $eos-icons-ux-margin-top;
  }

  .vertical-align-icon {
    margin-top: $eos-icons-ux-vertical-align-icon;
  }

  .vertical-content {
    float: left;
    width: 80%;

    > h4,
    p {
      margin: 0;
    }
  }
}

.link-text-icon {
  i {
    margin-right: $eos-icons-ux-link-icon-margin-right;
  }
}
