/* States implementation component
   ========================================================================== */
/* Variables file: assets/stylesheets/eos-custom-components/states-implementation/states-implementation.variables.scss */

.states-row {
  margin-left: 0;
  margin-right: 0;
}

.states-column {
  border: $eos-si-states-column-border;
  padding: 0;

  &-title {
    background-color: $eos-si-states-column-h4-background;
    color: $eos-si-states-column-h4-color;
    display: block;
    padding: $eos-si-states-column-h4-padding;
  }

  .states-list {
    margin: $eos-si-list-margin;

    li {
      display: flex;
      margin-bottom: $eos-si-list-li-margin-bottom;

      input[type=radio] {
        display: none;
      }

      label {
        cursor: pointer;
        margin-bottom: 0;
        padding-left: $eos-si-list-label-padding-left;
      }

      .radio-button {
        border: $eos-si-radio-button-border;
        border-radius: 100%;
        height: $eos-si-radio-button-height-width;
        margin-top: $eos-si-radio-button-margin-top;
        width: $eos-si-radio-button-height-width;
      }

      input[type=radio]:checked ~ .radio-button {
        background-color: $eos-si-radio-button-selected-background;
        border: $eos-si-radio-button-selected-border;
      }
    }
  }
}

.states-implementation-column {
  background-color: $eos-si-column-background-color;
  padding: $eos-si-column-padding;

  &-title {
    display: block;
  }

  p {
    margin-top: 0;
  }

  .states-example-box {
    background-color: $eos-si-column-example-box-background;
    min-height: $eos-si-states-example-box-min-height;
    padding: $eos-si-example-box-padding;

    .example-inner-box {
      width: 50%;
    }

    @media screen and (max-width: $eos-sd-max) {
      .example-inner-box {
        width: 100%;
      }
    }
  }
}
